<div id="footer">
  <p>
    <%= link_to "http://tuxurecords.tumblr.com/", :target => "blank", :alt => "Powered by つくしレコーズ", :title => "Powered by つくしレコーズつくしレコーズ" do %>
      <%= image_tag "powerd.png" :width => "250", :height => "10" %>
    <% end %>
  </p>
</div>