<div id="title">
  <p>
    <%= image_tag "logo.png", :width => "855", :height => "156", 
    :alt => "いい話と思ったらシェアジェネレーター「つくし」",
    :title => "いい話と思ったらシェアジェネレーター「つくし」" %>
  </p>
  <p><%= image_tag "setumei.png", :width => "535", :height => "50", 
      :alt => "『いい話と思ったらシェアジェネレーター「つくし」』は、Facebookでシェアされやすい”いい話”を作るジェネレーターです。", 
      :title => "『いい話と思ったらシェアジェネレーター「つくし」』は、Facebookでシェアされやすい”いい話”を作るジェネレーターです。" %>
  </p>
  <br />
  <p>
    <a href="#" class="action-getdescription">
      <%= image_tag "button_1.png", :width => "275", :height => "35", :alt => "いい話をジェネレートする", :title => "いい話をジェネレートする" %>
    </a>
  </p>
  <br />
  <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2F%25E3%2581%25A4%25E3%2581%258F%25E3%2581%2597%25E3%2583%25AC%25E3%2582%25B3%25E3%2583%25BC%25E3%2582%25BA%2F111664325581937&amp;width=292&amp;height=62&amp;show_faces=false&amp;colorscheme=light&amp;stream=false&amp;show_border=false&amp;header=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:62px;" allowTransparency="true"></iframe>
</div>
