<div id="title">
  <p>
    <%= image_tag "logo.png", :width => "855", :height => "156", 
    :alt => "いい話と思ったらシェアジェネレータ「つくし」",
    :title => "いい話と思ったらシェアジェネレータ「つくし」" %>
  </p>
  <p><%= image_tag "setumei.png", :width => "535", :height => "43", 
      :alt => "『いい話と思ったらシェアジェネレータ「つくし」』は、Facebookでシェアされやすい”いい話”を作るジェネレータです。", 
      :title => "『いい話と思ったらシェアジェネレータ「つくし」』は、Facebookでシェアされやすい”いい話”を作るジェネレータです。" %>
  </p>
  <br />
  <p>
    <a href="#" class="action-getdescription">
      <%= image_tag "button_1.png", :width => "275", :height => "35", :alt => "いい話をジェネレートする", :title => "いい話をジェネレートする" %>
    </a>
  </p>
  <br />
  <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftuxurecords.tumblr.com%2Fpost%2F45904853580&amp;layout=button_count&amp;show_faces=false&amp;width=100&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:20px;" allowTransparency="true"></iframe>
</div>
