<% 1.times do %>
  <h3><%= @title_collections.sample %></h3>
  <br>
  <%= raw @img_tag_collections.sample %>
  <br>
  <% @desc_collections.sample(15).each do |desc| %>
    <%= desc %> <br><br>
  <% end %>  
<% end %>